
<!DOCTYPE HTML>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
      <title>Booking Successfully</title>
      <style>
         body{ margin:0px; padding: 0px; height: 100%;}
         html{ height: 100%; }
      </style>
   </head>
   <body>
      <!-- main full table -->
      <table width="100%" align="center" cellpadding="0" cellspacing="0" style="border:none;">
         <tbody>
            <!-- spacing -->
            <tr>
               <td height="50"></td>
            </tr>
            <!-- spacing -->
            <!-- container -->
            <tr>
               <td>
                  <table width="600" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="box-shadow:0px 0px 5px 0px #c5c5c5; border-radius: 5px;    font-family: 'Roboto', Sans-serif;">
                     <tbody>
                        <tr>
                           <td height="100" align="center">
                              <a href="https://drivelounge.com/" target="_blank">
                                 <img src="https://api.drivelounge.com/logo.png" width="90" height="70" alt="logo"></a>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <!-- main content -->
                              <table width="550" align="center" cellpadding="0" cellspacing="0">
                                 <tbody>
                                    <tr>
                                       <td>
                                          <h2 style="margin: 0;font-size: 18px;color: #04242b;margin-bottom: 20px;">Dear {{name}},</h2>
                                          <p style="    font-size: 16px;
                                             color: #545454;
                                             margin: 0;
                                             margin-bottom: 20px;
                                             line-height: 1.6;">You completed your initial booking for a car, your booking was sent to the Rental Agency to review and confirm it. <br /><br />
                                             Once your initial booking is confirmed by the Rental Agency, you will receive a separate email of your booking details.</p>
                                             <br />
                                             <p style=" font-size: 17px;color: #545454;margin: 0;margin-bottom: 0px; line-height: 1.6">Thanks,</p>
                                             <p style=" font-size: 17px;color: #04242b;margin: 0;margin-bottom: 20px; line-height: 1.6; font-weight: 500;">Drive Lounge</p>
                                             <p style=" font-size: 15px;color: #04242b;margin: 0;margin-bottom: 20px; line-height: 1.6; font-weight: 500;"><i>If you want to cancel the reservation, please contact the Drive Lounge support team.
</i></p>


                                          <h2 style="padding-top:30px;text-align:right;margin: 0;font-size: 18px;color: #04242b;margin-bottom: 20px;">{{name}} عزیزي</h2>
                                          <p style="    font-size: 16px;
                                             color: #545454;
                                             margin: 0;
                                             margin-bottom: 20px;
                                             text-align:right;
                                             line-height: 1.6;">
تم تقديم حجزك المبدئي للسيارة بنجاح، وتم إرسال طلبك لمكتب التأجير لمراجعته وتأكيد الحجز.
<br />
في حال تم تأكيد الحجز من قبل المكتب سيصلك بريد الكتروني بتفاصيل الحجز.</p>
                                          <br />
                                          <p style="text-align:right;font-size: 17px;color: #545454;margin: 0;margin-bottom: 0px; line-height: 1.6">مع تحیات</p>
                                          <p style="text-align:right;font-size: 17px;color: #04242b;margin: 0;margin-bottom: 20px; line-height: 1.6; font-weight: 500;">درايف لاونج</p>
                                          <p style="text-align:right;font-size: 15px;color: #04242b;margin: 0;margin-bottom: 20px; line-height: 1.6; font-weight: 500;"><i>عند الرغبة في الغاء الحجز التواصل مع فريق دعم درايف لاونج
</i></p>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="30"></td>
                                    </tr>
                                 </tbody>
                              </table>
                              <!-- main content -->
							 </td>
						  </tr>
						  <!-- footer -->
						<tr>
						   <td>
							  <table width="600" align="center" cellpadding="0" cellspacing="0" bgcolor="#f0f3f5" style=" font-family: 'Roboto', Sans-serif;">
								 <tbody>
									<tr>
									   <td align="center">
										  <p style="color: #777; font-size: 15px">&copy; Drivelounge {{copyright_year}}</p>
									   </td>
									</tr>
									<tr>
									   <td align="center">
										  <p style="margin: 0;line-height: 1.6;color: #777; font-size: 15px">If you have any questions, please contact us on the following email <br> <a href="mailto:support@drivelounge.com" style="color: #000;">support@drivelounge.com</a></p>
									   </td>
									</tr>
									<tr>
									   <td align="center">
										  &nbsp;
									   </td>
									</tr>
								 </tbody>
							  </table>
						   </td>
						</tr>
						<!-- footer -->
					   </tbody>
					</table>
				 </td>
			  </tr>
			  <!-- container -->
			  <tr>
				 <td height="30"></td>
			  </tr>
			  <tr>
				 <td height="50"></td>
			  </tr>
			  <!-- spacing -->
		   </tbody>
		</table>
		<!-- main full table -->
	 </body>
</html>